<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Document</title>
</head>
<body>
    <!-- 显示变量的值 -->
    <h3>num:{{num}}</h3>
    <h3>str:{{str}}</h3>
    <h3>list:{{list}}</h3>
    <h3>list11:{{list11}}</h3><!--不存在的变量-->
    <h3>tup:{{tup}}</h3>
    <h3>dic:{{dic}}</h3>
    <h3>fun:{{fun}}</h3>
    <h3>A.f:{{A.f}}</h3>
    <h3>list[1]:{{list.1}}</h3>
    <h3>tup[2]:{{tup.2}}</h3>
    <h3>dic.b:{{dic.b}}</h3>
    <h3>
        <a href="{% url 'pa' num %}">params</a>
    </h3>
    <h3>循环便利　list 中的内容</h3>
    {% for i in list%}
        <p>{{forloop.counter}}:{{i}}</p>
    {% endfor %}

    <h3>标签：判断　num 变量的值是否大于　1000</h3>
    {% if num > 1000 %}
        <p>num的值大于1000，值为:{{num}}</p>
    {% else %}
        <p>num的值小于1000，值为:{{num}}</p>
    {% endif %}










     <!-- 以下是服务器端注释　-->
     {%comment 'xxxx'%}
        访问　{% url 'pa' 'abc' %} 地址
     {%endcomment%}
</body>
</html>